<h1 class="mt-5">Annotate photos, please</h1>

<% if @photo.nil? %>
  <p class="lead">No photos</p>
<% else %>
  <p class="lead">How to annotate:</p>
  <ol>
	<li><span class="color head">Head</span></li>
	<li><span class="color neck">Neck</span></li>
	<li><span class="color rshoulder">Right Shoulder</span></li>
	<li><span class="color lshoulder">Left Shoulder</span></li>
  </ol>

  <%= link_to "Next photo", root_path, class: "btn btn-block btn-primary" %><br>

  <canvas id="canvas-board" width="700" height="700" style="display: block; margin: 0 auto; background: gray; border: 1px solid black"></canvas>
  <%= image_tag @photo.attachment.url, style: "display: none;", id: "img-target" %>
  <div id="annotation">
	<h5>Current: <span id="status"></span></h5>
	<ol>
	  <li>
		<span class="color head">Head</span>: <span id="status-head">not yet</span>
		<button id="btn-head" class="btn btn-sm btn-danger">x</button>
	  </li>
	  <li>
		<span class="color neck">Neck</span>: <span id="status-neck">not yet</span>
		<button id="btn-neck" class="btn btn-sm btn-danger">x</button>
	  </li>
	  <li>
		<span class="color rshoulder">Right Shoulder</span>: <span id="status-rshoulder">not yet</span>
		<button id="btn-rshoulder" class="btn btn-sm btn-danger">x</button>
	  </li>
	  <li>
		<span class="color lshoulder">Left Shoulder</span>: <span id="status-lshoulder">not yet</span>
		<button id="btn-lshoulder" class="btn btn-sm btn-danger">x</button>
	  </li>
	</ol>
  </div>

  <br><%= link_to "Next photo", root_path, class: "btn btn-block btn-primary" %>
<% end %>

<style type="text/css">
  .btn-sm { display: none; }
  .color { 
	font-weight: bold;
  }
  .color.head { color: red; }
  .color.neck { color: green; }
  .color.rshoulder { color: blue; }
  .color.lshoulder { color: orange; }
</style>

<script tpye="text/javascript">
  var photoId = <%= @photo.id %>;
  var step2str = ["head", "neck", "rshoulder", "lshoulder", "Done. Thank you so much"];
  var step2color = ["red", "green", "blue", "orange"];
  var btn2step = {
	"btn-head": 0,
	"btn-neck": 1,
	"btn-rshoulder": 2,
	"btn-lshoulder": 3,
  };
  var step;
  var data = {};
  function update() {
	//TODO
  };
  function pinPoint(step, e, undo) {
	var x = e.layerX;
	var y = e.layerY;
	var button = e.button;
	var c = document.getElementById("canvas-board");
	var ctx = c.getContext("2d");
	ctx.beginPath();
	if(button) {
	  ctx.rect(x, y, 20, 20);
	}
	else {
	  ctx.arc(x, y, 10, 10, 0, 2*Math.PI);
	}
	if(undo) {
	  ctx.fillStyle = "white";
	}
	else {
	  ctx.fillStyle = step2color[step];
	}
	ctx.fill();
  }
  function loadStatus(step) {
	console.log('current status:', step2str[step]);
	$('span#status').html(step2str[step]);
  }
  function toggleButtons(step) {
	$('.btn-sm').hide();
	if(step == 1) {
	  $('#btn-head').show();
	}
	else if(step == 2) {
	  $('#btn-neck').show();
	}
	else if(step == 3) {
	  $('#btn-rshoulder').show();
	}
	else if(step == 4) {
	  $('#btn-lshoulder').show();
	}
  }
  function updatePosition(step, e) {
	var key = "status-"+step2str[step];
	var occludedstr = "occluded";
	var occluded = e.button;
	if(occluded == 0) {
	  occludedstr = "not occluded";
	}
	console.log('update', key, e.layerX, e.layerY);
	$("#"+key).html("("+e.layerX+","+e.layerY+","+occludedstr+")");
	pinPoint(step, e, false);
  }
  function cancelStep(stepstr) {
	var nextStep = btn2step[stepstr];
	step = nextStep;
	var key = "status-"+step2str[step];
	console.log('cancel', key, 'not yet');
	$("#"+key).html("not yet");
	//pinPoint(nextStep+1, , true); // TODO
  }
  function init() {
	step = 0;
	loadStatus(step);
	toggleButtons(step);
	$('img').bind('contextmenu', function(e){
	  return false;
	}); 
	$('canvas').bind('contextmenu', function(e){
	  return false;
	}); 
  }
  $(document).ready(function() {
	var c = document.getElementById("canvas-board");
	var ctx = c.getContext("2d");
	var img = document.getElementById("img-target");
	ctx.drawImage(img, 0, 0, img.width, img.height);
	c.addEventListener('mousedown', function(e) {
	  console.log('click', e.layerX, e.layerY, e.button);

	  if(step < 4) {
		updatePosition(step, e);
		step += 1;
		loadStatus(step);
		toggleButtons(step);
	  }
	  else {
		alert("Click 'New Photo' or cancel the last step");
	  }
	});
	$('.btn-sm').click(function(e) {
	  var stepstr = $(e.target).attr('id');
	  cancelStep(stepstr);
	  loadStatus(step);
	  toggleButtons(step);
	});
	init();
  });
</script>
